/*---logiciels---*/
table {
    border-collapse: collapse;
    border: 2px solid rgb(140, 140, 140);
    font-family: sans-serif;
    font-size: 0.8rem;
    letter-spacing: 1px;
    width: 100%;
}

th, td {
    border: 1px solid rgb(160, 160, 160);
    padding: 10px;
    text-align: left;
}

th {
    background-color: rgb(228, 240, 245);
}
/*----button---*/
.bouton {
    display: inline-block;
    padding: 5px 15px;
    text-decoration: none;
    border-radius: 1px;
    transition: background-color 0.0s ease;
}
.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}
.droite {
    text-align: right;
}
.bouton {
    display: flex;
    justify-content: space-around;
}